on: [push, pull_request]

name: R-CMD-check

jobs:
  R-CMD-check:
    if: "! contains(github.event.head_commit.message, '[ci skip]')"    

    timeout-minutes: 30

    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }}) ${{ matrix.config.label }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'devel'    }
          - {os: windows-latest, r: 'release'  }
          - {os: windows-latest, r: 'oldrel'   }
# FIXME: requires building 'redux' from source /2022-07-17          
#          - {os: macOS-latest,   r: 'devel'    }
          - {os: macOS-latest,   r: 'release'  }
          - {os: macOS-latest,   r: 'oldrel'   }
          - {os: ubuntu-20.04,   r: 'devel'    }
          - {os: ubuntu-20.04,   r: 'release'  }
          - {os: ubuntu-20.04,   r: 'oldrel'   }
          - {os: ubuntu-20.04,   r: 'oldrel-1' }
          - {os: ubuntu-20.04,   r: 'release'  , language: ko,    label: ko    }
#          - {os: ubuntu-20.04,   r: 'release'  , language: zh_CN, label: zh_CN }
#          - {os: ubuntu-20.04,   r: 'release'  , language: zh_TW, label: zh_TW }
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      ## Test in other locale (optional)
      LANGUAGE: ${{ matrix.config.language }}
      ## R CMD check
      _R_CHECK_CRAN_INCOMING_: false
      _R_CHECK_LENGTH_1_CONDITION_: true
      _R_CHECK_LENGTH_1_LOGIC2_: true
      _R_CHECK_MATRIX_DATA_: true
      _R_CHECK_SUGGESTS_ONLY_: true
      
    steps:
      - uses: actions/checkout@v3

      - uses: shogo82148/actions-setup-redis@v1
        if: runner.os != 'Windows'
      - run: redis-cli ping

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-tinytex@v2

      - name: Install additional LaTeX packages
        run: |
          ## Additional LaTeX packages needed by R (<= 4.1.0):
          tlmgr install ae
          tlmgr list --only-installed

      - name: Install Ghostscript (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get install --yes ghostscript

      - name: Install Ghostscript (MS Windows)
        if: runner.os == 'Windows'
        run: choco install ghostscript --no-progress

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true
          
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Session info
        run: |
          options(width = 100)
          capabilities()
          parallelly::availableCores(which = "all")
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
          ## Report on Redis
          message("redux::redis_available(): ", redux::redis_available())
          ## Verify LANGUAGE settings by generating a translatable error
          cat(sprintf("LANGUAGE=%s\n", sQuote(Sys.getenv("LANGUAGE"))))
          cat(sprintf("locales: %s\n", sQuote(Sys.getlocale())))
          tryCatch(log("a"), error = conditionMessage)
        shell: Rscript {0}

      - name: Check
        run: |
          ## WORKAROUND: https://github.com/r-lib/actions/issues/263#issuecomment-1174418576
          if (.Platform$OS.type == "windows")
            Sys.setenv(R_GSCMD = "C:/Program Files/gs/gs9.56.1/bin/gswin64.exe")
          rcmdcheck::rcmdcheck(
            args = c("--no-manual", "--as-cran"),
            error_on = "note",
            check_dir = "check"
          )
        shell: Rscript {0}

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check
